@font-face {
    font-family: Iceland;
    src: url('http://192.168.2.2/secgen/offline/font/Iceland-Regular.ttf');
}
@font-face {
    font-family: Orbitron;
    src: url('http://192.168.2.2/secgen/offline/font/Orbitron-Regular.ttf');
}